In [1]:
# [ ] review and run example
# define list of strings
ft_bones = ["calcaneus", "talus", "cuboid", "navicular", "lateral cuneiform", "intermediate cuneiform", "medial cuneiform"]

# display type information
print("ft_bones: ", type(ft_bones))

# print the list
print(ft_bones)

ft_bones:  <class 'list'>
['calcaneus', 'talus', 'cuboid', 'navicular', 'lateral cuneiform', 'intermediate cuneiform', 'medial cuneiform']

In [2]:
# [ ] review and run example
# define list of integers
age_survey = [12, 14, 12, 29, 12, 14, 12, 12, 13, 12, 14, 13, 13, 46, 13, 12, 12, 13, 13, 12, 12]

# display type information
print("age_survey: ", type(age_survey))

# print the list
print(age_survey)

age_survey:  <class 'list'>
[12, 14, 12, 29, 12, 14, 12, 12, 13, 12, 14, 13, 13, 46, 13, 12, 12, 13, 13, 12, 12]

In [3]:
# [ ] review and run example
# define list of mixed data type
mixed_list = [1, 34, 0.999, "dog", "cat", ft_bones, age_survey]

# display type information
print("mixed_list: ", type(mixed_list))

# print the list
print(mixed_list)

mixed_list:  <class 'list'>
[1, 34, 0.999, 'dog', 'cat', ['calcaneus', 'talus', 'cuboid', 'navicular', 'lateral cuneiform', 'intermediate cuneiform', 'medial cuneiform'], [12, 14, 12, 29, 12, 14, 12, 12, 13, 12, 14, 13, 13, 46, 13, 12, 12, 13, 13, 12, 12]]

In [4]:
team_names = ['Manchester City','Liverpool','Chelsea','Tottenham Hotspurs','Arsenal','Manchester United']
print(team_names)

['Manchester City', 'Liverpool', 'Chelsea', 'Tottenham Hotspurs', 'Arsenal', 'Manchester United']

In [5]:
# [ ] Create a list mix_list with numbers and strings with 4-6 items
mixed_list = [1,2,3,'Mark','Carlton','Kaharo']
# [ ] print the list
print(mixed_list)

[1, 2, 3, 'Mark', 'Carlton', 'Kaharo']

In [6]:
# [ ] review and run example
print(ft_bones[0], "is the 1st bone on the list")
print(ft_bones[2], "is the 3rd bone on the list")
print(ft_bones[-1], "is the last bone on the list")
# [ ] review and run example
print(ft_bones[1], "is connected to the",ft_bones[3])
# [ ] review and run example
three_ages_sum = age_survey[0] + age_survey[1] + age_survey[2]
print("The first three ages total", three_ages_sum)

calcaneus is the 1st bone on the list
cuboid is the 3rd bone on the list
medial cuneiform is the last bone on the list
talus is connected to the navicular
The first three ages total 38

In [7]:
# [ ] Create a list, streets, that lists the name of 5 street name strings
streets_list = ['University Way','Uhuru Highway','Waiyaki Way','Mbagathi Way','Processional Way']
# [ ] print a message that there is "No Parking" on index 0 or index 4 streets
print('NO PARKING on',streets_list[0],'and',streets_list[4])

NO PARKING on University Way and Processional Way

In [29]:
# [ ] Create a list, num_2_add, made of 5 different numbers between 0 - 25
num_2_add = [1,5,10,15,20]

# [ ] print the sum of the numbers
total = num_2_add[0] + num_2_add[1] + num_2_add[2] + num_2_add[3] + num_2_add[4]
print(total)

51

In [30]:
# [ ] Review & Run, but ***Do Not Edit*** this code cell
# [ ] Fix the error by only editing and running the block below

pay_checks = [100,200,300,400,500,600]
print(" Total of checks 3 & 4 = $", pay_checks[2] + pay_checks[3])

# [ ] Fix the error above by creating and running code in this cell

 Total of checks 3 & 4 = $ 700

In [8]:
# [ ] review and run example
# the list before append
sample_list = [1, 1, 2]
print("sample_list before: ", sample_list)

sample_list before:  [1, 1, 2]

In [2]:
sample_list.append(3)
# the list after append
print("sample_list after:  ", sample_list)

sample_list after:   [1, 1, 2, 3]

In [9]:
# [ ] review and run example
# append number to sample_list
print("sample_list start:  ", sample_list)
sample_list.append(3)
print("sample_list added:  ", sample_list)

# append again
sample_list.append(8)
print("sample_list added:  ", sample_list)

# append again
sample_list.append(5)
print("sample_list added:  ", sample_list)

sample_list start:   [1, 1, 2]
sample_list added:   [1, 1, 2, 3]
sample_list added:   [1, 1, 2, 3, 8]
sample_list added:   [1, 1, 2, 3, 8, 5]

In [10]:
# [ ] review and run example
mixed_types = [1, "cat"]
# append number
mixed_types.append(3)
print("mixed_types list: ", mixed_types)

# append string
mixed_types.append("turtle")
print("mixed_types list: ", mixed_types)

mixed_types list:  [1, 'cat', 3]
mixed_types list:  [1, 'cat', 3, 'turtle']

In [11]:
currency_names = ['Euro','Dollar','Sterling Pound']
print(currency_names)
# [ ] append additional values to the Currency Names list using input()
currency_entry = input('Enter a currency name: ')
currency_names.append(currency_entry)
print(currency_names)
# [ ] print the appended list

['Euro', 'Dollar', 'Sterling Pound']
Enter a currency name: Yen
['Euro', 'Dollar', 'Sterling Pound', 'Yen']

In [41]:
# [ ] Fix the Error
three_numbers = [1, 1, 2]
three_numbers.append(3)
print("an item in the list is: ", three_numbers[3])

an item in the list is:  3

In [16]:
bday_survey = []
bday = input('Enter the day of the month you were born (1-31) or "q" to quit: ')
while bday.lower() != 'q':
    bday_survey.append(bday)
    bday = input('Enter the day of the month you were born (1-31) or "q" to quit: ')
    
print(bday_survey)

Enter the day of the month you were born (1-31) or "q" to quit: 20
Enter the day of the month you were born (1-31) or "q" to quit: 27
Enter the day of the month you were born (1-31) or "q" to quit: 31
Enter the day of the month you were born (1-31) or "q" to quit: q
['20', '27', '31']

In [17]:
# [ ] review and run example
# the list before Insert
party_list = ["Joana", "Alton", "Tobias"]
print("party_list before: ", party_list)

# the list after Insert
party_list[1] = "Colette"
print("party_list after:  ", party_list)
# [ ] review and run example
party_list = ["Joana", "Alton", "Tobias"]
print("before:",party_list)

# modify index value
party_list[1] = party_list[1] + " Derosa"
print("\nafter:", party_list)

party_list before:  ['Joana', 'Alton', 'Tobias']
party_list after:   ['Joana', 'Colette', 'Tobias']
before: ['Joana', 'Alton', 'Tobias']

after: ['Joana', 'Alton Derosa', 'Tobias']

In [18]:
# IndexError Example
# [ ] review and run example which results in an IndexError
# if result is NameError run cell above before running this cell

# IndexError trying to append to end of list
party_list[3] = "Alton"
print(party_list)
# [ ] review and run example changes the data type of an element

IndexError: list assignment index out of range

In [19]:
# replace a string with a number (int)
single_digits = ["zero", "one", "two", "three", "four", "five", "six", "seven", "eight", "nine"] 
print("single_digits: ", single_digits)
print("single_digits[3]: ", single_digits[3], type(single_digits[3]),"\n")

# replace string with an int
single_digits[3] = 3
print("single_digits: ", single_digits)
print("single_digits[3]: ", single_digits[3], type(single_digits[3]))

single_digits:  ['zero', 'one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine']
single_digits[3]:  three <class 'str'>

single_digits:  ['zero', 'one', 'two', 3, 'four', 'five', 'six', 'seven', 'eight', 'nine']
single_digits[3]:  3 <class 'int'>

In [20]:
#Replace items in a list
three_num = [0,1,2]
print(three_num)

if three_num[0] < 5:
    three_num[0] = 'small'
else:
    three_num[0] = 'large'
    
print(three_num)

[0, 1, 2]
['small', 1, 2]

In [32]:
#Replacement function
def str_replace(int_list,index):
    if int_list[index] < 5:
        int_list[index] = 'small'
    else:
        int_list[index] = 'large'
        
    return int_list

In [35]:
list_of_int = [0,1,2,3,4,100]
index = 5
str_replace(list_of_int,index)

[0, 1, 2, 3, 4, 'large']

In [37]:
three_words = ['Zero','One','Two']
print(three_words)

three_words[0] = three_words[0].upper()
three_words[2] = three_words[2].swapcase()

print(three_words)

['Zero', 'One', 'Two']
['ZERO', 'One', 'tWO']

In [1]:
# [ ] review and run example
# the list before Insert
party_list = ["Joana", "Alton", "Tobias"]
print("party_list before: ", party_list)
print("index 1 is", party_list[1], "\nindex 2 is", party_list[2], "\n")

# the list after Insert
party_list.insert(1,"Colette")
print("party_list after:  ", party_list)
print("index 1 is", party_list[1], "\nindex 2 is", party_list[2], "\nindex 3 is", party_list[3])

party_list before:  ['Joana', 'Alton', 'Tobias']
index 1 is Alton
index 2 is Tobias

party_list after:   ['Joana', 'Colette', 'Alton', 'Tobias']
index 1 is Colette
index 2 is Alton
index 3 is Tobias

In [3]:
# [ ] insert a name from user input into the party_list in the second position (index 1)
party_list = ["Joana", "Alton", "Tobias"]
new_name = input('Enter your first name: ')
party_list.insert(1,new_name)
# [ ] print the updated list
print(party_list)

Enter your first name: Mark
['Joana', 'Mark', 'Alton', 'Tobias']

In [5]:
# [ ] Fix the Error
tree_list = ["oak"]
print("tree_list before =", tree_list)
tree_list.insert(1,"pine")
print("tree_list after  =", tree_list)

tree_list before = ['oak']
tree_list after  = ['oak', 'pine']

In [7]:
# [ ] review and run example
# the list before delete
sample_list = [11, 21, 13, 14, 51, 161, 117, 181]
print("sample_list before: ", sample_list)
#delete item from index 4
del sample_list[4]
#the list after delete
print("sample list after: ",sample_list)

sample_list before:  [11, 21, 13, 14, 51, 161, 117, 181]
sample list after:  [11, 21, 13, 14, 161, 117, 181]

In [8]:
# [ ] review and run example Multiple Times
# [ ] consider how to reset the list values?
print("sample_list before:", sample_list)
del sample_list[0]
print("sample_list after:", sample_list)

sample_list before: [11, 21, 13, 14, 161, 117, 181]
sample_list after: [21, 13, 14, 161, 117, 181]

In [9]:
# [ ] review and run example
mixed_types = [1, "cat"]
# append number
mixed_types.append(3)
print("mixed_types list: ", mixed_types)

mixed_types list:  [1, 'cat', 3]

In [10]:
# append string
mixed_types.append("turtle")
print("mixed_types list: ", mixed_types)

mixed_types list:  [1, 'cat', 3, 'turtle']

In [15]:
# [ ] print ft_bones list
# [ ] delete "cuboid" from ft_bones
# [ ] reprint list
ft_bones = ["calcaneus", "talus", "cuboid", "navicular", "lateral cuneiform", 
            "intermediate cuneiform", "medial cuneiform"]
print(ft_bones)
del ft_bones[2]
print(ft_bones)

['calcaneus', 'talus', 'cuboid', 'navicular', 'lateral cuneiform', 'intermediate cuneiform', 'medial cuneiform']
['calcaneus', 'talus', 'navicular', 'lateral cuneiform', 'intermediate cuneiform', 'medial cuneiform']

In [16]:
# [ ] print ft_bones list
# [ ] delete "cuboid" from ft_bones
# [ ] delete "navicular" from list
# [ ] reprint list
# [ ] check for deletion of "cuboid" and "navicular"
ft_bones = ["calcaneus", "talus", "cuboid", "navicular", "lateral cuneiform", 
            "intermediate cuneiform", "medial cuneiform"]
del ft_bones[2]
del ft_bones[3]
print(ft_bones)

['calcaneus', 'talus', 'navicular', 'intermediate cuneiform', 'medial cuneiform']

In [17]:
# [ ] review and run example
# pop() gets the last item by default
party_list = ["Joana", "Alton", "Tobias"]
print(party_list)
print("Hello,", party_list.pop())

print("\n", party_list)
print("Hello,", party_list.pop())

print("\n", party_list)
print("Hello,", party_list.pop())

print("\n", party_list)
# [ ] review and run example
# can pop specific index like pop(3)
number_list = [11, 21, 13, 14, 51, 161, 117, 181]
print("before:", number_list)
number_list.pop(3)
print("after :", number_list)

# [ ] review and run example
# set a variable to a poped value
number_list = [11, 21, 13, 14, 51, 161, 117, 181]
print("list before:", number_list)
num_1 = number_list.pop()
num_2 = number_list.pop()
print("list after :", number_list)
print("add the popped values:", num_1, "+", num_2, "=", num_1 + num_2)

['Joana', 'Alton', 'Tobias']
Hello, Tobias

 ['Joana', 'Alton']
Hello, Alton

 ['Joana']
Hello, Joana

 []
before: [11, 21, 13, 14, 51, 161, 117, 181]
after : [11, 21, 13, 51, 161, 117, 181]
list before: [11, 21, 13, 14, 51, 161, 117, 181]
list after : [11, 21, 13, 14, 51, 161]
add the popped values: 181 + 117 = 298

In [18]:
# [ ] pop() and print the first and last items from the ft_bones list
ft_bones = ["calcaneus", "talus", "cuboid", "navicular", "lateral cuneiform", 
            "intermediate cuneiform", "medial cuneiform"]
first_bone = ft_bones.pop(0)
last_bone = ft_bones.pop()
print('The first bone is',first_bone,'\nThe last bone is',last_bone)
# [ ] print the remaining list
print(ft_bones)

The first bone is calcaneus
The last bone is medial cuneiform
['talus', 'cuboid', 'navicular', 'lateral cuneiform', 'intermediate cuneiform']

In [19]:
dog_types = ["Lab", "Pug", "Poodle"]

while dog_types: 
    print(dog_types)
    print(dog_types.pop())

['Lab', 'Pug', 'Poodle']
Poodle
['Lab', 'Pug']
Pug
['Lab']
Lab

In [24]:
#Cash Register Program
purchase_amounts = []
while True:
    item_price = input('Enter the price of items: ')
    purchase_amounts.append(item_price)
    if item_price.lower() == 'done':
        purchase_amounts.pop()
        break
print(purchase_amounts)

Enter the price of items: 1
Enter the price of items: 2
Enter the price of items: 3
Enter the price of items: 4
Enter the price of items: 5
Enter the price of items: 6
Enter the price of items: 7
Enter the price of items: 8
Enter the price of items: 9
Enter the price of items: 0
Enter the price of items: done
['1', '2', '3', '4', '5', '6', '7', '8', '9', '0']

In [25]:
sub_total = 0
while purchase_amounts:
    value = purchase_amounts.pop()
    value = float(value)
    sub_total = sub_total + value
    
print(sub_total)

45.0

In [29]:
# [ ] review and run example
dog_types = ["Lab", "Pug", "Poodle"]

if "Pug" in dog_types:
    dog_types.remove("Pug")
else:
    print("no Pug found")
print(dog_types)

['Lab', 'Poodle']

In [36]:
# [ ] review and run example
dogs = ["Lab", "Pug", "Poodle", "Poodle", "Pug", "Poodle"]

print(dogs)
while "Poodle" in dogs:
    dogs.remove("Poodle")
    print(dogs)

['Lab', 'Pug', 'Poodle', 'Poodle', 'Pug', 'Poodle']
['Lab', 'Pug', 'Poodle', 'Pug', 'Poodle']
['Lab', 'Pug', 'Pug', 'Poodle']
['Lab', 'Pug', 'Pug']

In [37]:
# [ ] review and run example
# Change to "Lab", etc... to fix error
dogs.remove("Pug")
print(dogs)

['Lab', 'Pug']

In [40]:
# [ ] remove one "Poodle" from the list: dogs , or print "no Poodle found"
# [ ] print list before and after
dogs = ["Lab", "Pug", "Poodle", "Poodle", "Pug", "Poodle"]
print(' Before \n',dogs)
dogs.remove('Poodle')
print(' After \n',dogs)

 Before
 ['Lab', 'Pug', 'Poodle', 'Poodle', 'Pug', 'Poodle']
 After
 ['Lab', 'Pug', 'Poodle', 'Pug', 'Poodle']

MODULE 2 PRACTICE NOTEBOOK

In [53]:
days_of_week = ['Sunday','Monday','Tuesday','Wednesday','Thursday','Friday','Saturday']
print(days_of_week)

# [ ] after days_of_week is run above, print the days in the list at odd indexes 1,3,5
print(days_of_week[1],days_of_week[3],days_of_week[5])

['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday']
Monday Wednesday Friday

In [52]:
# Phone Letters
phone_letters = [' ','','ABC','DEF','GHI','JKL','MNO','PQRS','TUV','WXYZ']
for i in phone_letters:
    print(i)

ABC
DEF
GHI
JKL
MNO
PQRS
TUV
WXYZ

In [54]:
day = days_of_week[2]
print(day)

Tuesday

In [55]:
day = days_of_week[5]
print(day)

Friday

In [59]:
days_of_week.append('Endsday')
print(days_of_week)

['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Endsday', 'Endsday', 'Endsday', 'Endsday']

In [60]:
while 'Endsday' in days_of_week:
    days_of_week.remove('Endsday')
    print(days_of_week)

['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Endsday', 'Endsday', 'Endsday']
['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Endsday', 'Endsday']
['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Endsday']
['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday']

In [64]:
length = len(days_of_week)
print(length)
length = int(length/2)
days_of_week.insert(length,'Resterday')

7

In [65]:
print(days_of_week)

['Sunday', 'Monday', 'Tuesday', 'Resterday', 'Wednesday', 'Thursday', 'Friday', 'Saturday']

In [68]:
days_of_week.insert(9,'Weekendday')
print(days_of_week)

['Sunday', 'Monday', 'Tuesday', 'Resterday', 'Wednesday', 'Thursday', 'Weekendday', 'Weekendday', 'Friday', 'Weekendday', 'Saturday']

In [69]:
days_of_week.pop()
print(days_of_week)

['Sunday', 'Monday', 'Tuesday', 'Resterday', 'Wednesday', 'Thursday', 'Weekendday', 'Weekendday', 'Friday', 'Weekendday']

In [70]:
del days_of_week[3]

In [71]:
print(days_of_week)

['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Weekendday', 'Weekendday', 'Friday', 'Weekendday']

In [72]:
while 'Weekendday' in days_of_week:
    days_of_week.remove('Weekendday')
    print(days_of_week)

['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Weekendday', 'Friday', 'Weekendday']
['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Weekendday']
['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday']

In [73]:
days_of_week.append('Saturday')
print(days_of_week)

['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday']

In [74]:
popped_value = days_of_week.pop()
print(popped_value)
print(days_of_week)

Saturday
['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday']

In [92]:
#Letter to Number function
phone_letters = [' ','','ABC','DEF','GHI','JKL','MNO','PQRS','TUV','WXYZ']
def let_to_num(letter):
    key = 1
    while key < 10:
        if letter in phone_letters[key]:
            return key
        else:
            key += 1
            return 'Not Found'

In [93]:
let_to_num('')

1

In [76]:
#String reversal
#use while,.pop() and .insert()
some_numbers =[1,2,3,4,5,6,7,8,9,11,22,33,44,55,66,77]
new_list = []
while some_numbers:
    new_value = some_numbers.pop()
    new_list.append(new_value)
    
print(some_numbers)
print(new_list)

[]
[77, 66, 55, 44, 33, 22, 11, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [80]:
some_numbers =[1,2,3,4,5,6,7,8,9,11,22,33,44,55,66,77]
key = len(some_numbers)
print(key)

16

In [47]:
#Phone Letters
phone_letters = [' ','','ABC','DEF','GHI','JKL','MNO','PQRS','TUV','WXYZ']
print(phone_letters)

[' ', '', 'ABC', 'DEF', 'GHI', 'JKL', 'MNO', 'PQRS', 'TUV', 'WXYZ']

In [33]:
def let_to_num(letter):
    key = 0
    while key < 10:
        if letter == '':
            print(letter,'was found in index 1')
            break
        elif letter.upper() in phone_letters[key]:
            print(letter,'was found in index',key)
            return True
        else:
            key += 1
    return 'Not Found'

In [35]:
let_to_num(' ')

  was found in index 0

True

In [59]:
# list o matic function
def list_o_matic(listy,inputy):
    inputy_length = len(inputy)
    if inputy_length == 0:
        listy.pop()
        pop_statement = 'last item popped from list'
        return pop_statement
    else:
        if inputy.title() in listy:
            listy.remove(inputy.title())
            remove_statement = '1 instance of ' + inputy + ' removed from the list'
            return remove_statement
        else:
            listy.append(inputy.title())
            append_statement = '1 instance of ' + inputy + ' appended to the list'
            return append_statement

#Program Flow
my_list = ['Chelsea','Arsenal','Stoke','Wolves','Liverpool']
print('Initial List: ',my_list)
listy_length = len(my_list)
if listy_length == 0:
    print('Goodbye')
else:
    while my_list:
        listy_input = input('Enter the name of a Premier League Club: ')
        if listy_input.isdigit():
            print('Avoid Digits')
        else:
            listy_input = listy_input.lower()
            if listy_input == 'quit':
                print('Goodbye')
                break
            else:
                #list_o_matic(my_list,listy_input)
                retvalue = list_o_matic(my_list,listy_input)
                print(retvalue)
        print('List: ',my_list)

Initial List:  ['Chelsea', 'Arsenal', 'Stoke', 'Wolves', 'Liverpool']
Enter the name of a Premier League Club:
last item popped from list
List:  ['Chelsea', 'Arsenal', 'Stoke', 'Wolves']
Enter the name of a Premier League Club:
last item popped from list
List:  ['Chelsea', 'Arsenal', 'Stoke']
Enter the name of a Premier League Club: Everton
1 instance of everton appended to the list
List:  ['Chelsea', 'Arsenal', 'Stoke', 'Everton']
Enter the name of a Premier League Club: Stoke
1 instance of stoke removed from the list
List:  ['Chelsea', 'Arsenal', 'Everton']
Enter the name of a Premier League Club: arsenal
1 instance of arsenal removed from the list
List:  ['Chelsea', 'Everton']
Enter the name of a Premier League Club: everton
1 instance of everton removed from the list
List:  ['Chelsea']
Enter the name of a Premier League Club: chelsea
1 instance of chelsea removed from the list
List:  []