In [1]:
cities = ["New York", "Shanghai", "Munich", "Tokyo", "Dubai", "Mexico City", "São Paulo", "Hyderabad"]

for city in cities:
    print(city)
#Examples
# [ ] review and run example
cities = ["New York", "Shanghai", "Munich", "Tokyo", "Dubai", "Mexico City", "São Paulo", "Hyderabad"]

for city in cities:
    print(city)
# [ ] review and run example
sales = [6, 8, 9, 11, 12, 17, 19, 20, 22]
total = 0

for sale in sales:
    total += sale
    
print("total sales:", total)
    

#change the iterator variable name from "sale" to "dollars" or to any valid name

# [ ] review and run example 
sales = [6, 8, 9, 11, 12, 17, 19, 20, 22]
total = 0

for dollars in sales:
    total += dollars
    
print("total sales:", total)

New York
Shanghai
Munich
Tokyo
Dubai
Mexico City
São Paulo
Hyderabad
New York
Shanghai
Munich
Tokyo
Dubai
Mexico City
São Paulo
Hyderabad
total sales: 124
total sales: 124

In [2]:
# [ ] create a list of 4 to 6 strings: birds
# print each bird in the list

birds = ['Hawk','Eagle','Owl','Hen','Crow']
for bird in birds:
    print(bird)

Hawk
Eagle
Owl
Hen
Crow

In [3]:
# [ ]  create a list of 7 integers: player_points
# [ ] print double the points for each point value
player_points = [98,97,85,66,52,43,41]
for points in player_points:
    print(points*2)

196
194
170
132
104
86
82

In [4]:
# [ ] create long_string by concatenating the items in the "birds" list previously created
# print long_string - make sure to put a space betweeen the bird names
long_string = ''
for bird in birds:
    long_string = long_string + bird + ' '

In [5]:
print(long_string)

Hawk Eagle Owl Hen Crow

In [6]:
# [ ] review and run example of sorting into strings to display
foot_bones = ["calcaneus", "talus", "cuboid", "navicular", "lateral cuneiform", 
            "intermediate cuneiform", "medial cuneiform"]
longer_names = ""
shorter_names = ""

for bone_name in foot_bones:
    if len(bone_name) < 10:
        shorter_names += "\n" + bone_name
    else:
        longer_names += "\n" + bone_name

print('Short Names:\n',shorter_names)
print('Long Names:\n',longer_names)

# [ ] review and run example of sorting into lists
foot_bones = ["calcaneus", "talus", "cuboid", "navicular", "lateral cuneiform", 
            "intermediate cuneiform", "medial cuneiform"]
longer_names = []
shorter_names = []

for bone_name in foot_bones:
    if len(bone_name) < 10:
        shorter_names.append(bone_name)
    else:
        longer_names.append(bone_name)

print(shorter_names)
print(longer_names)

Short Names:

calcaneus
talus
cuboid
navicular
Long Names:

lateral cuneiform
intermediate cuneiform
medial cuneiform
['calcaneus', 'talus', 'cuboid', 'navicular']
['lateral cuneiform', 'intermediate cuneiform', 'medial cuneiform']

In [7]:
# [ ] Using cities from the example above iterate throught the list using "for"/"in"
# [ ] Print only cities starting with "m"
for city in cities:
    if city.lower().startswith('m'):
        print(city)
    else:
        pass

Munich
Mexico City

In [8]:
# [ ] Using cities, from the example in previous page. iterate through the list using "for"/"in"
cities = ["New York", "Shanghai", "Munich", "Tokyo", "Dubai", "Mexico City", "São Paulo", "Hyderabad"]
# [ ] sort into lists with "A" in the city name and without "A" in the name: a_city & no_a_city
a_list = []
not_a_list = []
for city in cities:
    if 'a' in city.lower():
        a_list.append(city)
    else:
        not_a_list.append(city)
        
print(a_list)
print(not_a_list)

['Shanghai', 'Dubai', 'São Paulo', 'Hyderabad']
['New York', 'Munich', 'Tokyo', 'Mexico City']

In [9]:
# [ ] review and run example
# iterates the "cities" list, count & sum letter "a" in each city name

cities = ["New York", "Shanghai", "Munich", "Tokyo", "Dubai", "Mexico City", "São Paulo", "Hyderabad"]
search_letter = "a"
total = 0

for city_name in cities:
    total += city_name.lower().count(search_letter)

print("The total # of \"" + search_letter + "\" found in the list is", total)

The total # of "a" found in the list is 6

In [10]:
# [ ] review and run example
# city_search function has a default list of cities to search
def city_search(search_item, cities = ["New York", "Shanghai", "Munich", "Tokyo"] ):
    for city in cities:
        if city.lower() == search_item.lower():
            return True
        else:
            # go to the next item
            pass
    # no more items in list
    return False

# a list of cities
visited_cities = ["New York", "Shanghai", "Munich", "Tokyo", "Dubai", "Mexico City", "São Paulo", "Hyderabad"]

search = input("enter a city visited: ")

# Search the default city list
print(search, "in default cities is", city_search(search))

# search the list visited_cities using 2nd argument
print(search, "in visited_cites list is", city_search(search,visited_cities))

enter a city visited: dubai
dubai in default cities is False
dubai in visited_cites list is True

In [11]:
# Program Paint Stock
paint_colors = ['Blue','Red','White','light red','Purple','deep red']
def paint_stock(value):
    for paint in paint_colors:
        if value.lower() in paint.lower():
            print(value.title(),'Found')
        else:
            print(value.title(),'Not Found')

In [12]:
color_request = input('Enter a color name: ')
paint_stock(color_request)

Enter a color name: red
Red Not Found
Red Found
Red Not Found
Red Found
Red Not Found
Red Found

In [15]:
# Foot bones quiz
foot_bones = ["calcaneus", "talus", "cuboid", "navicular", "lateral cuneiform",
             "intermediate cuneiform", "medial cuneiform"]
def bones_quiz(string_match):
    for bones in foot_bones:
        if string_match.lower() == bones.lower():
            foot_bones.remove(bones)
            return 'Correct'
        else:
            pass
    return 'Incorrect'

In [18]:
user_answer = input('Guess the name of a foot bone: ')
value = bones_quiz(user_answer)
print(value,foot_bones)

Guess the name of a foot bone: calus
Incorrect ['calcaneus', 'cuboid', 'navicular', 'lateral cuneiform', 'intermediate cuneiform', 'medial cuneiform']

Range Iteration

In [1]:
range(10)

range(0, 10)

In [2]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [5]:
for num in range(10):
    print(num)

0
1
2
3
4
5
6
7
8
9

In [6]:
# review and run example
digits = range(10)
print("digits =", list(digits), "\n")

for count in digits:
    print(count)
# [ ] review and run example
sub_total = 0
for item in range(10):
    sub_total += item
    print("sub_total:", sub_total)
print("Total =", sub_total)
# [ ] review and run example
# print the first half of a spelling list
spell_list = ["Tuesday", "Wednesday", "February", "November", "Annual", "Calendar", "Solstice"]

# find length of 1st half of list (must be int)
half_1 = int(len(spell_list)/2)

for word in range(half_1):
    print(spell_list[word])

digits = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

0
1
2
3
4
5
6
7
8
9
sub_total: 0
sub_total: 1
sub_total: 3
sub_total: 6
sub_total: 10
sub_total: 15
sub_total: 21
sub_total: 28
sub_total: 36
sub_total: 45
Total = 45
Tuesday
Wednesday
February

In [7]:
# [ ] for x = 6, use range(x) to print the numbers 1 through 6
x = 6
for i in range(x):
    print(i)

0
1
2
3
4
5

In [10]:
# [ ] using range(x) multiply the numbers 1 through 7
# 1x2x3x4x5x6x7 = 5040
x = 8
m = 1
for i in range(1,x):
    m = m * i
    print('running total =',m)


print('\nGrand Total =',m)

running total = 1
running total = 2
running total = 6
running total = 24
running total = 120
running total = 720
running total = 5040

Grand Total = 5040

In [18]:
# [ ] print the second half of a spelling list using a range(stop) loop to iterate the list
spell_list = ["Wednesday", "Tuesday", "February", "November", "Annual", "Calendar", "Solstice"]
half_2 = int(len(spell_list)/2)

for day in range(half_2,len(spell_list)):
    print(spell_list[day])

November
Annual
Calendar
Solstice

In [20]:
# [ ] review and run example
for count in range(5,10):
    print(count)
# [ ] review and run example
sub_total = 0
temp = 0
for item in range(5, 11):
    temp = sub_total
    sub_total += item
    print("sub_total:", temp, "+", item, "=",sub_total)
print("Total =", sub_total)

5
6
7
8
9
sub_total: 0 + 5 = 5
sub_total: 5 + 6 = 11
sub_total: 11 + 7 = 18
sub_total: 18 + 8 = 26
sub_total: 26 + 9 = 35
sub_total: 35 + 10 = 45
Total = 45

In [21]:
spell_list = ["Tuesday", "Wednesday", "February", "November", "Annual", "Calendar", "Solstice"]

# find length list 
spell_len = len(spell_list)
# find lenght of 1st half (aka - start of 2nd half)
half_1 = int(spell_len/2)

# print 2nd half list
for word in range(half_1,spell_len):
    print(spell_list[word])

November
Annual
Calendar
Solstice

In [22]:
# [ ] using range(start,stop), .append() the numbers 5 to 15 to the list: five_fifteen
# [ ] print list five_fifteen
five_fifteen = []
for num in range(5,16):
    five_fifteen.append(num)
    
print(five_fifteen)

[5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]

In [24]:
# [ ] using range(start,stop) - print the 3rd, 4th and 5th words in spell_list
# output should include "February", "November", "Annual"
spell_list = ["Tuesday", "Wednesday", "February", "November", "Annual", "Calendar", "Solstice"]
for day in range(2,5):
    print(spell_list[day])

February
November
Annual

In [29]:
# [ ] using code find the index of "Annual" in spell_list
# [ ] using range, print the spell_list including "Annual" to end of list
spell_list = ["Tuesday", "Wednesday", "February", "November", "Annual", "Calendar", "Solstice"]

ann = spell_list.index('Annual')
for day in spell_list[ann:]:
    print(day)

Annual
Calendar
Solstice

In [30]:
for count in range(1,21,2):
    print(count)

1
3
5
7
9
11
13
15
17
19

In [31]:
# [ ] review and run example
sub_total = 0
temp = 0
for item in range(25,46,5):
    temp = sub_total
    sub_total += item
    print("sub_total:", temp, "+", item, "=",sub_total)
print("Total =", sub_total)

sub_total: 0 + 25 = 25
sub_total: 25 + 30 = 55
sub_total: 55 + 35 = 90
sub_total: 90 + 40 = 130
sub_total: 130 + 45 = 175
Total = 175

In [32]:
# [ ] review and run example printing the 1st and then every other word in spell_list
spell_list = ["Tuesday", "Wednesday", "February", "November", "Annual", "Calendar", "Solstice"]

for index in range(0,len(spell_list),2):
    print(spell_list[index])
# [ ] review and run example casting range to list
odd_list = list(range(1,20,2))
print(odd_list)

Tuesday
February
Annual
Solstice
[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [34]:
# [ ] print numbers 10 to 20 by 2's using range
for num in range(10,21,2):
    print(num)

10
12
14
16
18
20

In [39]:
# [ ] print numbers 20 to 10 using range (need to countdown)
# Hint: start at 20
for num in range(20,9,-1):
    print(num)

20
19
18
17
16
15
14
13
12
11
10

In [41]:
# [ ] print first and every third word in spell_list
spell_list = ["Tuesday", "Wednesday", "February", "November", "Annual", "Calendar", "Solstice"]
for day in spell_list[::3]:
    print(day)

Tuesday
November
Solstice

In [43]:
# [ ] fix the error printing odd numbers 1 - 9
for num in range(1,10,2):
    print(num)

1
3
5
7
9

In [50]:
word = input('Enter a word: ')
word_length = len(word)
odd_letter = []
even_letter = []
for letter in range(0,word_length,2):
    print('Letter in even position -',word[letter])
    even_letter.append(word[letter])
print(even_letter,'\n')

for let in range(1,word_length,2):
    print('Letter in odd position -',word[let])
    odd_letter.append(word[let])
print(odd_letter)

Enter a word: complexity
Letter in even position - c
Letter in even position - m
Letter in even position - l
Letter in even position - x
Letter in even position - t
['c', 'm', 'l', 'x', 't']

Letter in odd position - o
Letter in odd position - p
Letter in odd position - e
Letter in odd position - i
Letter in odd position - y
['o', 'p', 'e', 'i', 'y']

In [3]:
visited_cities = ["New York", "Shanghai", "Munich", "Toyko", "Dubai", "Mexico City", "São Paulo", "Hyderabad"]
wish_cities = ["Reykjavík", "Moscow", "Beijing", "Lamu"]
# combine in a new list
all_cities = visited_cities + wish_cities

# add a list to an existing list
visitied_cities.extend(wish_cities)

NameError: name 'visitied_cities' is not defined

In [8]:
visited_cities = ["New York", "Shanghai", "Munich", "Toyko", "Dubai", "Mexico City", "São Paulo", "Hyderabad"]

In [9]:
wish_cities = ["Reykjavík", "Moscow", "Beijing", "Lamu"]

In [6]:
visited_cities.extend(wish_cities)

In [7]:
visited_cities

['New York',
 'Shanghai',
 'Munich',
 'Toyko',
 'Dubai',
 'Mexico City',
 'São Paulo',
 'Hyderabad',
 'Reykjavík',
 'Moscow',
 'Beijing',
 'Lamu']

In [10]:
all_cities = visited_cities + wish_cities

In [11]:
all_cities

['New York',
 'Shanghai',
 'Munich',
 'Toyko',
 'Dubai',
 'Mexico City',
 'São Paulo',
 'Hyderabad',
 'Reykjavík',
 'Moscow',
 'Beijing',
 'Lamu']

In [12]:
# [ ] review and run example
visited_cities = ["New York", "Shanghai", "Munich", "Toyko", "Dubai", "Mexico City", "São Paulo", "Hyderabad"]
wish_cities = ["Reykjavík", "Moscow", "Beijing", "Lamu"]

# .extend() 
# extending visited_cities list (IN PLACE) by concatenating wish_cities
visited_cities.extend(wish_cities)
print("ALL CITIES",visited_cities)
# [ ] review and run example
visited_cities = ["New York", "Shanghai", "Munich", "Toyko", "Dubai", "Mexico City", "São Paulo", "Hyderabad"]
wish_cities = ["Reykjavík", "Moscow", "Beijing", "Lamu"]

# (+) Addition operator for lists creates a (NEW) combined List
all_cities = visited_cities + wish_cities

print("ALL CITIES")
for city in all_cities:
    print(city)

ALL CITIES ['New York', 'Shanghai', 'Munich', 'Toyko', 'Dubai', 'Mexico City', 'São Paulo', 'Hyderabad', 'Reykjavík', 'Moscow', 'Beijing', 'Lamu']
ALL CITIES
New York
Shanghai
Munich
Toyko
Dubai
Mexico City
São Paulo
Hyderabad
Reykjavík
Moscow
Beijing
Lamu

In [13]:
team_a = [0,2,2,2,4,4,4,5,6,6,6]
team_b = [0,0,0,1,1,2,3,3,3,6,8]
print("Team A:", team_a, "\nTeam B:",team_b)

Team A: [0, 2, 2, 2, 4, 4, 4, 5, 6, 6, 6]
Team B: [0, 0, 0, 1, 1, 2, 3, 3, 3, 6, 8]

In [14]:
# (+) Addition operator 
team_totals = team_a + team_b
print("Team Totals", team_totals)

Team Totals [0, 2, 2, 2, 4, 4, 4, 5, 6, 6, 6, 0, 0, 0, 1, 1, 2, 3, 3, 3, 6, 8]

In [18]:
# [ ] review and run example after running cell above
# .extend() 
team_a.extend(team_b)
print("Team_a extended", team_a)

Team_a extended [0, 2, 2, 2, 4, 4, 4, 5, 6, 6, 6, 0, 0, 0, 1, 1, 2, 3, 3, 3, 6, 8, 0, 0, 0, 1, 1, 2, 3, 3, 3, 6, 8, 0, 0, 0, 1, 1, 2, 3, 3, 3, 6, 8, 0, 0, 0, 1, 1, 2, 3, 3, 3, 6, 8]

In [19]:
# [ ] extend the list common_birds with list birds_seen which you must create
common_birds = ["chicken", "blue jay", "crow", "pigeon"]
birds_seen = ['eagle','hawks','humming bird','mocking jay']

In [20]:
common_birds.extend(birds_seen)
print('All birds: ',common_birds)

All birds:  ['chicken', 'blue jay', 'crow', 'pigeon', 'eagle', 'hawks', 'humming bird', 'mocking jay']

In [21]:
# [ ] Create 2 lists zero_nine and ten_onehundred that contain 1-9, and 10 - 100 by 10's.
# [ ] use list addition to concatenate the lists into all_num and print
zero_nine = [1,2,3,4,5,6,7,8,9]
ten_onehundred = [10,20,30,40,50,60,70,80,90,100]
all_num = zero_nine + ten_onehundred
print(all_num)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

In [22]:
cities_1 = ["Dubai", "Mexico City", "São Paulo", "Hyderabad"]

print("regular", cities_1)
cities_1.reverse()
print("reversed", cities_1)

regular ['Dubai', 'Mexico City', 'São Paulo', 'Hyderabad']
reversed ['Hyderabad', 'São Paulo', 'Mexico City', 'Dubai']

In [23]:
# [ ] review and run example
all_num = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
print("regular list",all_num, "\n")
all_num.reverse()
print("reverse list",all_num, "\n")
num_len = len(all_num)

regular list [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

reverse list [100, 90, 80, 70, 60, 50, 40, 30, 20, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

In [24]:

print("Three Multiple")
for num in all_num:
    if num/3 == int(num/3):
        print(num)
    else:
        pass

Three Multiple
90
60
30
9
6
3
0

In [25]:
# [ ] review and run example
# create a list of  numbers by casting a range 
count_list = list(range(21))
print("before list", count_list)

# and reverse
count_list.reverse()
print("after list", count_list)

before list [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
after list [20, 19, 18, 17, 16, 15, 14, 13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

In [26]:
# [ ] create and  print a list of multiples of 5 from 5 to 100
# { ] reverse the list and print
multiples_list = [x for x in list(range(5,101)) if x%5 == 0]

In [27]:
print('original list: ',multiples_list)

original list:  [5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95, 100]

In [30]:
multiples_list.reverse()
print('reversed list: ',multiples_list)

reversed list:  [100, 95, 90, 85, 80, 75, 70, 65, 60, 55, 50, 45, 40, 35, 30, 25, 20, 15, 10, 5]

In [35]:
# [ ] Create two lists: fours & more_fours containing multiples of four from 4 to 44
# [ ] combine and print so that the output is mirrored [44, 40,...8, 4, 4, 8, ...40, 44]
fours = [x for x in list(range(4,45)) if x%4 == 0]

In [37]:
fours

[4, 8, 12, 16, 20, 24, 28, 32, 36, 40, 44]

In [38]:
more_fours = [x for x in list(range(4,45)) if x%4 == 0]

In [39]:
more_fours

[4, 8, 12, 16, 20, 24, 28, 32, 36, 40, 44]

In [40]:
more_fours.reverse()

In [41]:
all_fours = fours + more_fours

In [43]:
print(all_fours)

[4, 8, 12, 16, 20, 24, 28, 32, 36, 40, 44, 44, 40, 36, 32, 28, 24, 20, 16, 12, 8, 4]

In [44]:
quiz_scores = [20, 19, 20, 15, 20, 20, 20, 18, 18, 18, 19]
quiz_scores.sort()

In [45]:
print(quiz_scores)

[15, 18, 18, 18, 19, 19, 20, 20, 20, 20, 20]

In [46]:
game_points = [3, 14, 0, 8, 21, 1, 3, 8]
sorted_points = sorted(game_points)

In [47]:
print(game_points)
print(sorted_points)

[3, 14, 0, 8, 21, 1, 3, 8]
[0, 1, 3, 3, 8, 8, 14, 21]

In [49]:
# [ ] review and run example
cities_1 = ["Dubai", "Mexico City", "São Paulo", "Hyderabad"]

print("Unsorted", cities_1)
cities_1.sort()
print("Sorted", cities_1)

Unsorted ['Dubai', 'Mexico City', 'São Paulo', 'Hyderabad']
Sorted ['Dubai', 'Hyderabad', 'Mexico City', 'São Paulo']

In [50]:
# [ ] print cites from visited_cities list in alphbetical order using .sort()
# [ ] only print cities that names start "Q" or earlier
visited_cities = ["New York", "Shanghai", "Munich", "Toyko", "Dubai", "Mexico City", "São Paulo", "Hyderabad"]

In [51]:
visited_cities.sort()

In [52]:
print(visited_cities)

['Dubai', 'Hyderabad', 'Mexico City', 'Munich', 'New York', 'Shanghai', 'São Paulo', 'Toyko']

In [59]:
for city in visited_cities:
    if city[0] > 'Q':
        visited_cities.remove(city)
    else:
        pass

In [60]:
print(visited_cities)

['Dubai', 'Hyderabad', 'Mexico City', 'Munich', 'New York']

In [63]:
# [ ] make a sorted copy (sorted_cities) of visited_cities list
# [ ] remove city names 5 characters or less from sorted_cities 
# [ ] print visitied cites and sorted cities
visited_cities = ["New York", "Shanghai", "Munich", "Toyko", "Dubai", "Mexico City", "São Paulo", "Hyderabad"]

In [64]:
print(visited_cities)

['New York', 'Shanghai', 'Munich', 'Toyko', 'Dubai', 'Mexico City', 'São Paulo', 'Hyderabad']

In [65]:
sorted_list = sorted(visited_cities)
print(sorted_list)

['Dubai', 'Hyderabad', 'Mexico City', 'Munich', 'New York', 'Shanghai', 'São Paulo', 'Toyko']

In [69]:
for city in sorted_list:
    if len(city) <= 5:
        sorted_list.remove(city)
    else:
        pass

In [70]:
print(visited_cities)
print(sorted_list)

['New York', 'Shanghai', 'Munich', 'Toyko', 'Dubai', 'Mexico City', 'São Paulo', 'Hyderabad']
['Hyderabad', 'Mexico City', 'Munich', 'New York', 'Shanghai', 'São Paulo']

In [82]:
def merge_program():
    list_animals = ['cow','hen','dog','bat']
    add_animals = []
    while True:
        input_animals = input('Enter animal name: ')
        if input_animals == '':
            break
        else:
            add_animals.append(input_animals)
            continue
            
    list_animals.extend(add_animals) 
    print('current list: ',list_animals)
    print()
    
    user_pref = input('Enter 1 to view alphabetically or 2 to view in reverse order: ')
    if user_pref == '1':
        list_animals.sort()
        print('updated list: ',list_animals)
    elif user_pref == '2':
        list_animals.reverse()
        print('updated list: ',list_animals)

In [83]:
merge_program()

Enter animal name: lion
Enter animal name: leopard
Enter animal name: jaguar
Enter animal name: tiger
Enter animal name: shark
Enter animal name: whale
Enter animal name:
current list:  ['cow', 'hen', 'dog', 'bat', 'lion', 'leopard', 'jaguar', 'tiger', 'shark', 'whale']

Enter 1 to view alphabetically or 2 to view in reverse order: 2
updated list:  ['whale', 'shark', 'tiger', 'jaguar', 'leopard', 'lion', 'bat', 'dog', 'hen', 'cow']

In [84]:
# [ ] review and run example
tip = "Notebooks can be exported as .pdf"
tip_words = tip.split()

print("STRING:", tip)
print("LIST:", tip_words, "\n")

for word in tip_words:
    print(word)
# [ ] review and run example
rhyme = "London bridge is falling down"

rhyme_words = rhyme.split()

rhyme_words.reverse()

for word in rhyme_words:
    print(word)

STRING: Notebooks can be exported as .pdf
LIST: ['Notebooks', 'can', 'be', 'exported', 'as', '.pdf']

Notebooks
can
be
exported
as
.pdf
down
falling
is
bridge
London

In [88]:
# [ ] split the string(rhyme) into a list of words (rhyme_words)
# [ ] print each word on it's own line
rhyme = 'Jack and Jill went up the hill To fetch a pail of water' 
rhyme_words = rhyme.split()
print(rhyme_words)
for word in rhyme_words:
    print(word)

['Jack', 'and', 'Jill', 'went', 'up', 'the', 'hill', 'To', 'fetch', 'a', 'pail', 'of', 'water']
Jack
and
Jill
went
up
the
hill
To
fetch
a
pail
of
water

In [90]:
# [ ] split code_tip into a list and print the first and every other word
code_tip = "Python uses spaces for indentation"
new_tip = code_tip.split()
print(new_tip)
for word in new_tip:
    print(word)

['Python', 'uses', 'spaces', 'for', 'indentation']
Python
uses
spaces
for
indentation

In [1]:
# [ ] review and run example
code_tip = "Python-uses-spaces-for-indentation"
tip_words = code_tip.split('-')

print(tip_words)

['Python', 'uses', 'spaces', 'for', 'indentation']

In [2]:
# [ ] review and run example - study the list print output
code_tip = "Python uses spaces for indentation"

In [3]:
# split on "a"
tip_words = code_tip.split('a')
print(code_tip)
print(tip_words)

Python uses spaces for indentation
['Python uses sp', 'ces for indent', 'tion']

In [4]:
# [ ] review and run example
# triple quotes ''' ''' preserve formatting such as spaces and line breaks
big_quote = """Jack and Jill went up the hill
To fetch a pail of water
Jack fell down and broke his crown
And Jill came tumbling after"""

# split on line breaks (\n)
quote_lines = big_quote.split('\n')
print(quote_lines, '\n')

# print the list in reverse with index slicing
for line in quote_lines[::-1]:
    print(line)

['Jack and Jill went up the hill', 'To fetch a pail of water', 'Jack fell down and broke his crown', 'And Jill came tumbling after']

And Jill came tumbling after
Jack fell down and broke his crown
To fetch a pail of water
Jack and Jill went up the hill

In [5]:
# [ ] split poem into a list of phrases by splitting on "*" a
# [ ] print each phrase on a new line in title case
poem = "Write code frequently*Save code frequently*Comment code frequently*Study code frequently*"
new_poem = poem.split('*')
print(new_poem)

for line in new_poem:
    print(line.title())

['Write code frequently', 'Save code frequently', 'Comment code frequently', 'Study code frequently', '']
Write Code Frequently
Save Code Frequently
Comment Code Frequently
Study Code Frequently

In [6]:
# [ ] review and run example
tip_words = ['Notebooks', 'can', 'be', 'exported', 'as', '.pdf'] 

# join tip_words objects with spaces
print(" ".join(tip_words))
# [ ] review and run example
no_space = ""
letters = ["P", "y", "t", "h", "o", "n"]
print(no_space.join(letters))
# [ ] review and run example - .join() iterates through sequences
dash = "-"
space = " "
word = "Iteration"
ellipises = "..."

dash_join = dash.join(word)
print(dash_join)
print(space.join(word))
print(ellipises.join(word))

Notebooks can be exported as .pdf
Python
I-t-e-r-a-t-i-o-n
I t e r a t i o n
I...t...e...r...a...t...i...o...n

In [8]:
# [ ] .join() letters list objects with an Asterisk: "*"
letters = ["A", "s", "t", "e", "r", "i", "s", "k"]
asterisk = '*'
final_word = asterisk.join(letters)

In [9]:
final_word

'A*s*t*e*r*i*s*k'

In [10]:
def choose_separator(separator):
    phrase_words = ['Jack', 'and', 'Jill', 'went', 'up', 'the', 'hill', 'To', 'fetch', 'a', 'pail', 'of', 'water']
    final_word = separator.join(phrase_words)
    return final_word

In [15]:
user_input = input('Choose a separator ('',*,-): ')
choose_separator(user_input)

Choose a separator (,*,-):

'Jack and Jill went up the hill To fetch a pail of water'

In [16]:
# [ ] review and run example
hello_letters = list("Hello")
print(hello_letters)
# [ ] review and run example
# cast sting to list
word_letters = list("concatenates")

# .join() concatenates the list
# print on same line setting the end character
print('~'.join(word_letters))
# [ ] review and run example
print("Hello ", end = '')
print("world")
# [ ] review and run example
# This  is the default print end
print("Hello World!", end="\n")
print('still something to learn about print()')
# [ ] review and run example
# end inserts any valid str character: A-z, 0-9,!,@,*,\n,\t or ''(empty string)...
for letter in "Concatenation":
    print(letter, end='*')

['H', 'e', 'l', 'l', 'o']
c~o~n~c~a~t~e~n~a~t~e~s
Hello world
Hello World!
still something to learn about print()
C*o*n*c*a*t*e*n*a*t*i*o*n*

In [18]:
# [ ] use 3 print() statements to output text to one line 
# [ ] separate the lines by using "- " (dash space)
print('The String ', end='')
print('is an ', end='')
print('iterable')

The String is an iterable

In [20]:
Msg_characters = list("Always test your code")
print(Msg_characters)

['A', 'l', 'w', 'a', 'y', 's', ' ', 't', 'e', 's', 't', ' ', 'y', 'o', 'u', 'r', ' ', 'c', 'o', 'd', 'e']

In [26]:
# [ ] create a string (fact) of 20 or more characters and cast to a list (fact_letters)
# [ ] iterate fact, printing each char on one line, except for spaces print a new line

fact = 'Manchester United is the most valuable team in the world'
fact_letters = list(fact)
#print(fact_letters)

for let in fact:
    if let == ' ':
        continue
    else:
        print(let)

M
a
n
c
h
e
s
t
e
r
U
n
i
t
e
d
i
s
t
h
e
m
o
s
t
v
a
l
u
a
b
l
e
t
e
a
m
i
n
t
h
e
w
o
r
l
d

In [40]:
digit_string = '12345678998765432101'
digits = list(digit_string)
print(digits)

['1', '2', '3', '4', '5', '6', '7', '8', '9', '9', '8', '7', '6', '5', '4', '3', '2', '1', '0', '1']

In [41]:
operator = '+'
equation = operator.join(digits)
total = 0
for dig in digits:
    dig = int(dig)
    total += dig
    
print(equation,'=',total)

1+2+3+4+5+6+7+8+9+9+8+7+6+5+4+3+2+1+0+1 = 91

MODULE 3 - PRACTICE NOTEBOOK

In [43]:
# [ ] print out the "physical states of matter" (matter_states) in 4 sentences using list iteration
# each sentence should be of the format: "Solid - is state of matter #1" 
matter_states = ['solid', 'liquid', 'gas', 'plasma']
for state in matter_states:
    print(state,'- is the state of matter #',matter_states.index(state)+1)
# [ ] iterate the list (birds) to see any bird names start with "c" and remove that item from the list
# print the birds list before and after removals
birds = ["turkey", "hawk", "chicken", "dove", "crow"]
print('before',birds)
for ave in birds:
    if ave[0].lower() == 'c':
        birds.remove(ave)
    else:
        continue
print('after',birds)
# the team makes 1pt, 2pt or 3pt baskets
# [ ] print the occurrence of each type of basket(1pt, 2pt, 3pt) & total points using the list baskets
baskets = [2,2,2,1,2,1,3,3,1,2,2,2,2,1,3]
one_point = baskets.count(1)
two_points = baskets.count(2)
three_points = baskets.count(3)
total_points = 0
for bask in baskets:
    total_points += bask

print('One point occurs',one_point,'times')
print('Two points occurs',two_points,'times')
print('Three points occurs',three_points,'times')
print('Total =',total_points)

solid - is the state of matter # 1
liquid - is the state of matter # 2
gas - is the state of matter # 3
plasma - is the state of matter # 4
before ['turkey', 'hawk', 'chicken', 'dove', 'crow']
after ['turkey', 'hawk', 'dove']
One point occurs 4 times
Two points occurs 8 times
Three points occurs 3 times
Total = 29

In [47]:
# [ ] using range() print "hello" 4 times
for x in range(0,4):
    print('Hello')
print()
# [ ] find spell_list length
# [ ] use range() to iterate each half of spell_list  
# [ ] label & print the first and second halves
spell_list = ["Tuesday", "Wednesday", "February", "November", "Annual", "Calendar", "Solstice"]
spell_length = int(len(spell_list)/2)
first_half = spell_list[:spell_length]
second_half = spell_list[spell_length:]
print('first half',first_half)
print('second half',second_half)
print()
# [ ] build a list of numbers from 20 to 29: twenties 
# append each number to twenties list using range(start,stop) iteration
# [ ] print twenties
twenties = [x for x in range(20,30)]
print(twenties)
print()
# [ ] iterate through the numbers populated in the list twenties and add each number to a variable: total
# [ ] print total
total = 0
for num in twenties:
    total += num
print(total)
# check your answer above using range(start,stop)
# [ ] iterate each number from 20 to 29 using range()
# [ ] add each number to a variable (total) to calculate the sum
# should match earlier task 
total = 0
for num in range(20,30):
    total += num
print(total)

Hello
Hello
Hello
Hello

first half ['Tuesday', 'Wednesday', 'February']
second half ['November', 'Annual', 'Calendar', 'Solstice']

[20, 21, 22, 23, 24, 25, 26, 27, 28, 29]

245
245

In [49]:
# [ ] create a list of odd numbers (odd_nums) from 1 to 25 using range(start,stop,skip)
odd_nums = [x for x in range(1,26,2)]
# [ ] print odd_nums
print(odd_nums)
# hint: odd numbers are 2 digits apart
# [ ] create a Decending list of odd numbers (odd_nums) from 25 to 1 using range(start,stop,skip)
odd_nums_des = [y for y in range(25,0,-2)]
# [ ] print odd_nums,  output should resemble [25, 23, ...]
print(odd_nums_des)
# the list, elements, contains the names of the first 20 elements in atomic number order
# [ ] print the even number elements "2 - Helium, 4 - Beryllium,.." in the list with the atomic number
elements = ['Hydrogen', 'Helium', 'Lithium', 'Beryllium', 'Boron', 'Carbon', 'Nitrogen', 'Oxygen', 'Fluorine', \
 'Neon', 'Sodium', 'Magnesium', 'Aluminum', 'Silicon', 'Phosphorus', 'Sulfur', 'Chlorine', 'Argon', \
 'Potassium', 'Calcium']
print(elements[1::2])

# [ ] the list, elements_40, contains the names of the first 40 elements in atomic number order
# [ ] print the odd number elements "1 - Hydrogen, 3 - Lithium,.." in the list with the atomic number elements_40
elements_40 = ['Hydrogen', \
 'Helium', 'Lithium', 'Beryllium', 'Boron', 'Carbon', 'Nitrogen', 'Oxygen', 'Fluorine', \
 'Neon', 'Sodium', 'Magnesium', 'Aluminum', 'Silicon', 'Phosphorus', 'Sulfur', 'Chlorine', \
 'Argon', 'Potassium', 'Calcium', 'Scandium', 'Titanium', 'Vanadium', 'Chromium', 'Manganese', \
 'Iron', 'Cobalt', 'Nickel', 'Copper', 'Zinc', 'Gallium', 'Germanium', 'Arsenic', 'Selenium', \
 'Bromine', 'Krypton', 'Rubidium', 'Strontium', 'Yttrium', 'Zirconium']
print(elements_40[0::2])

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25]
[25, 23, 21, 19, 17, 15, 13, 11, 9, 7, 5, 3, 1]
['Helium', 'Beryllium', 'Carbon', 'Oxygen', 'Neon', 'Magnesium', 'Silicon', 'Sulfur', 'Argon', 'Calcium']
['Hydrogen', 'Lithium', 'Boron', 'Nitrogen', 'Fluorine', 'Sodium', 'Aluminum', 'Phosphorus', 'Chlorine', 'Potassium', 'Scandium', 'Vanadium', 'Manganese', 'Cobalt', 'Copper', 'Gallium', 'Arsenic', 'Bromine', 'Rubidium', 'Yttrium']

In [53]:
# [ ] print the combined lists (numbers_1 & numbers_2) using "+" operator
numbers_1 = [20, 21, 22, 23, 24, 25, 26, 27, 28, 29]

# pythonic casting of a range into a list
numbers_2 = list(range(30,50,2))
print('Combined list -', numbers_1 + numbers_2)

print("numbers_1:",numbers_1)
print("numbers_2",numbers_2)
# [ ] print the combined element lists (first_row & second_row) using ".extend()" method
first_row = ['Hydrogen', 'Helium']
second_row = ['Lithium', 'Beryllium', 'Boron', 'Carbon', 'Nitrogen', 'Oxygen', 'Fluorine', 'Neon']

print("1st Row:", first_row)
print("2nd Row:", second_row)
first_row.extend(second_row)
print('Combined Row: ',first_row)

Combined list - [20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48]
numbers_1: [20, 21, 22, 23, 24, 25, 26, 27, 28, 29]
numbers_2 [30, 32, 34, 36, 38, 40, 42, 44, 46, 48]
1st Row: ['Hydrogen', 'Helium']
2nd Row: ['Lithium', 'Beryllium', 'Boron', 'Carbon', 'Nitrogen', 'Oxygen', 'Fluorine', 'Neon']
Combined Row:  ['Hydrogen', 'Helium', 'Lithium', 'Beryllium', 'Boron', 'Carbon', 'Nitrogen', 'Oxygen', 'Fluorine', 'Neon']

In [56]:
# The 1st three rows of the Period Table of Elements contain:
['Hydrogen', 'Helium', 'Lithium', 'Beryllium', 'Boron', 'Carbon', 'Nitrogen', 'Oxygen', 'Fluorine', 'Neon', 'Sodium', 'Magnesium', 'Aluminum', 'Silicon', 'Phosphorus', 'Sulfur', 'Chlorine', 'Argon']

# The row breakdown is
# Row 1: Hydrogen, Helium
# Row 2: Lithium, Beryllium, Boron, Carbon, Nitrogen, Oxygen, Fluorine, Neon
# Row 3: Sodium, Magnesium, Aluminum, Silicon, Phosphorus, Sulfur, Chlorine, Argon
# [ ] create the program: combined 3 element rows 

elem_1 = ['Hydrogen', 'Helium'] 
elem_2 = ['Lithium', 'Beryllium', 'Boron', 'Carbon', 'Nitrogen', 'Oxygen', 'Fluorine', 'Neon']
elem_3 = ['Sodium', 'Magnesium', 'Aluminum', 'Silicon', 'Phosphorus', 'Sulfur', 'Chlorine', 'Argon']
new_row = elem_1 + elem_2 + elem_3
print(new_row)
print()
# [ ] .extend() jack_jill with "next_line" string - print the result
jack_jill = ['Jack', 'and', 'Jill', 'went', 'up', 'the', 'hill']
next_line = ['To', 'fetch', 'a', 'pail', 'of', 'water']
jack_jill.extend(next_line)
print(jack_jill)

['Hydrogen', 'Helium', 'Lithium', 'Beryllium', 'Boron', 'Carbon', 'Nitrogen', 'Oxygen', 'Fluorine', 'Neon', 'Sodium', 'Magnesium', 'Aluminum', 'Silicon', 'Phosphorus', 'Sulfur', 'Chlorine', 'Argon']

['Jack', 'and', 'Jill', 'went', 'up', 'the', 'hill', 'To', 'fetch', 'a', 'pail', 'of', 'water']

In [58]:
# [ ] use .reverse() to print elements starting with "Calcium", "Chlorine",... in reverse order
elements = ['Hydrogen', 'Helium', 'Lithium', 'Beryllium', 'Boron', 'Carbon', 'Nitrogen', 'Oxygen', 'Fluorine', \
 'Neon', 'Sodium', 'Magnesium', 'Aluminum', 'Silicon', 'Phosphorus', 'Sulfur', 'Chlorine', 'Argon', \
 'Potassium', 'Calcium']
elements.reverse()
print(elements)
print()
# [ ] reverse order of the list... Then print only words that are 8 characters or longer from the now reversed order
spell_list = ["Tuesday", "Wednesday", "February", "November", "Annual", "Calendar", "Solstice"]
spell_list.reverse()
print(spell_list)
for spell in spell_list:
    length = len(spell)
    if length >= 8:
        print(spell)
    else:
        continue

['Calcium', 'Potassium', 'Argon', 'Chlorine', 'Sulfur', 'Phosphorus', 'Silicon', 'Aluminum', 'Magnesium', 'Sodium', 'Neon', 'Fluorine', 'Oxygen', 'Nitrogen', 'Carbon', 'Boron', 'Beryllium', 'Lithium', 'Helium', 'Hydrogen']

['Solstice', 'Calendar', 'Annual', 'November', 'February', 'Wednesday', 'Tuesday']
Solstice
Calendar
November
February
Wednesday

In [59]:
# [ ] sort the list element, so names are in alphabetical order and print elements
elements = ['Hydrogen', 'Helium', 'Lithium', 'Beryllium', 'Boron', 'Carbon', 'Nitrogen', 'Oxygen', 'Fluorine', \
 'Neon', 'Sodium', 'Magnesium', 'Aluminum', 'Silicon', 'Phosphorus', 'Sulfur', 'Chlorine', 'Argon', \
 'Potassium', 'Calcium']
elements.sort()
print(elements)
print()
# [ ] print the list, numbers, sorted and then below print the original numbers list 
numbers = [2,2,2,1,2,1,3,3,1,2,2,2,2,1,3]
numbers_sorted = sorted(numbers)
print('Original:',numbers)
print('Sorted:',numbers_sorted)

['Aluminum', 'Argon', 'Beryllium', 'Boron', 'Calcium', 'Carbon', 'Chlorine', 'Fluorine', 'Helium', 'Hydrogen', 'Lithium', 'Magnesium', 'Neon', 'Nitrogen', 'Oxygen', 'Phosphorus', 'Potassium', 'Silicon', 'Sodium', 'Sulfur']

Original: [2, 2, 2, 1, 2, 1, 3, 3, 1, 2, 2, 2, 2, 1, 3]
Sorted: [1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2, 3, 3, 3]

In [60]:
# [ ] split the string, daily_fact, into a list of word strings: fact_words
# [ ] print each string in fact_words in upper case on it's own line
daily_fact = "Did you know that there are 1.4 billion students in the world?"
fact_words = daily_fact.split()
for string in fact_words:
    print(string.upper())

print()
# [ ] convert the string, code_tip, into a list made from splitting on the letter "o"
code_tip ="Read code aloud or explain the code step by step to a peer"
new_tip = code_tip.split('o')
print(new_tip)
print()
# [ ] split poem on "b" to create a list: poem_words
# [ ] print poem_words by iterating the list
poem = "The bright brain, has bran!"
poem_words = poem.split('b')
for wordy in poem_words:
    print(wordy)

DID
YOU
KNOW
THAT
THERE
ARE
1.4
BILLION
STUDENTS
IN
THE
WORLD?

['Read c', 'de al', 'ud ', 'r explain the c', 'de step by step t', ' a peer']

The
right
rain, has
ran!

In [79]:
# [ ] print a comma separated string output from the list of Halogen elements using ".join()"
halogens = ['Chlorine', 'Florine', 'Bromine', 'Iodine']
separator = ','
print(separator.join(halogens))
print()
# [ ] split the sentence, code_tip, into a words list
# [ ] print the joined words in the list with no spaces in-between
# [ ] Bonus: capitalize each word in the list before .join()
code_tip ="Read code aloud or explain the code step by step to a peer"
word_list = code_tip.split()
new_list = []
for word in word_list:
    word = word.title()
    new_list.append(word)
    
    
separate = ''
print(separate.join(new_list))

Chlorine,Florine,Bromine,Iodine

ReadCodeAloudOrExplainTheCodeStepByStepToAPeer

In [93]:
# [ ] cast the long_word into individual letters list 
# [ ] print each letter on a line
long_word = 'decelerating'
indiv_list = list(long_word)
for let in indiv_list:
    print(let)
    
print()
# [ ] use use end= in print to output each string in questions with a "?" and on new lines
questions = ["What's the closest planet to the Sun", "How deep do Dolphins swim", "What time is it"]
for que in questions:
    print(que,end='?\n')
print()


# [ ] print each item in foot bones 
#    - capitalized, both words if two word name
#    - separated by a comma and space
#    - and keeping on a single print line
foot_bones = ["calcaneus", "talus", "cuboid", "navicular", "lateral cuneiform", 
            "intermediate cuneiform", "medial cuneiform"]
for bone in foot_bones:
    operator = ', '
    if ' ' in bone:
        bone = bone.title()
        print(bone, end = operator)
    else:
        print(bone, end = operator)

d
e
c
e
l
e
r
a
t
i
n
g

What's the closest planet to the Sun?
How deep do Dolphins swim?
What time is it?

calcaneus, talus, cuboid, navicular, Lateral Cuneiform, Intermediate Cuneiform, Medial Cuneiform,

In [121]:
def word_mixer(wordlist):
    wordlist.sort()
    # print('Sorted List:', wordlist)
    # print('List Length: ',len(wordlist))
    list_length = len(wordlist)
    new_list = []
    while list_length > 5:
        lastfifth_entry = wordlist.pop(-5)
        first_entry = wordlist.pop(0)
        last_entry = wordlist.pop()
        
        new_list.append(lastfifth_entry)
        new_list.append(first_entry)
        new_list.append(last_entry)
        
        return new_list

In [122]:
# Poem Mixer
def poem_mix(poem):
    words_list = poem.split()
    #print(words_list)
    words_length = len(words_list)
    #print(words_length)
    for num in range(0,words_length):
        if len(words_list[num]) <= 3:
            words_list[num] = words_list[num].lower()
            #print(words_list[num])
        elif len(words_list[num]) >= 7:
            words_list[num] = words_list[num].upper()
            #print(words_list[num])
        else:
            continue        
        
    word_mixer(words_list)
    ret_value = word_mixer(words_list)
    print(str(ret_value))

In [117]:
user_saying = input('Enter a poem, a saying or a chant: ')
poem_mix(user_saying)

Enter a poem, a saying or a chant: Little fly, Thy summer’s play My thoughtless hand Has brushed away. Am not I A fly like thee? Or art not thou A man like me?
['not', 'Little', 'thou']

In [ ]:
# Glory glory man united, glory glory man united, and the reds go marching on on on