Type Function

In [ ]:
type("Hello World")

In [ ]:
type(501)

In [ ]:
type(10.0)

In [ ]:
student_name = "Mark Carlton"
type(student_name)

In [ ]:
bucket = 15
type(bucket)

In [ ]:
bucket = ("bucket list")
type(bucket)

In [ ]:
bucket = ('bucket list')
type(bucket)

In [ ]:
bucket = "12"
type(bucket)

In [ ]:
bucket = 12
type(bucket)

In [ ]:
bucket = -12
type(bucket)

In [ ]:
bucket = 12.25
type(bucket)

In [ ]:
type(type(3))

In [ ]:
type(3)

In [ ]:
type(type("String"))

Addition

In [ ]:
19 + 3

In [ ]:
15.1 + 12.2

In [ ]:
"My name is " + "Mark"

In [ ]:
shoe_color = "Black"
"I own a pair of " + shoe_color + " Shoes"

In [ ]:
# 3 integer numbers addition
15 + 6 + 9

In [ ]:
# An integer and a float addition
12.2 + 15

In [ ]:
# String addition
"This notebook belongs to " + "Mark"

In [ ]:
# Variable addition
small_number  = 10
big_number  = 1000
small_number + big_number

In [ ]:
name = "Mark"
name + " remember to save the notebook frequently"

In [ ]:
add_two = 34 + 16
name = "Mark"
greeting = "GÃ¼ten Morgen " + name
greeting_continued = greeting + ", Wie geht's?"
print(add_two)
print(greeting_continued)

In [ ]:
int_sum = 2 + 2
print(int_sum)
print(3 + 3)
print()

In [ ]:
boy = "Er ist ein junge"
print (boy + " und sie ist ein maedchen")
boy_english = "He is a boy"
print (boy_english + " and she is a girl")

In [ ]:
msg = "My favorite drink is"
print (msg + ' Low fat milk')

In [ ]:
new_sum = 5 + 6 + 4
new_sum = 0
print(new_sum)

Type Error

In [ ]:
total_cost = 3 + 45
print(total_cost)

In [ ]:
3 + 4.5

In [ ]:
print(type(3.3))

In [ ]:
print(type(3))

In [ ]:
print(3.3 + 3)

Syntax and Name Errors

In [ ]:
#Syntax error
print('I like going for a morning run")

In [ ]:
#correct
print("I like going for a morning run")
print('I like going for a morning run')

In [ ]:
#Name error
prin('Hello')

In [ ]:
#correct
print('Hello World')

In [ ]:
#Syntax error
print('Where are my socks'

In [ ]:
#correct
print("Where are my socks")

In [ ]:
#SyntaxError
print("I love games)"

In [ ]:
#correct
print("I love games")

ASCII Art

In [ ]:
# flying bird character art
print("_         _")
print(" \       /")
print("  \ . . /")
print("     v      ")

In [ ]:
# monkey ascii
print("@('_')@")

User Input

In [ ]:
print("Please enter a small integer : ")
small_int = input()
print("You chose to enter " + small_int)

In [ ]:
# Task 1
print("What is your name ?")
student_name = input()
type(student_name)
print("Your name is " + student_name)

Input Prompts

In [ ]:
# simple interaction
city_input = input("Where do you come from ?")
print("I come from " + city_input)

In [ ]:
# Information gathering
print("Welcome to Fuhrend security. We will ask you some few questions to get going")
age_input = input("What is your age ?")
name_input = input("What is your name ?")
county_input = input("Which county do you come from ?")
print("Your name is " + name_input 
      + ", you are " + age_input + " years old"
     + " and you come from " + county_input)

Print Formatting

In [ ]:
# Comma separated printing
user_name = input("What is your name ? ")
user_age = input("How old are you ? ")
print("Your name is",user_name,"and you are",user_age,"years old")

In [ ]:
# Number and string combination
num_one = input("Choose a number between 0 and 4 ")
num_two = input("now choose a number between 5 and 9")
print(1,"person chose",num_one,"and",num_two,"as your numbers")

In [ ]:
# Training program
input_name = input("Please enter your two names")
input_one = input("what will you train today ? ")
input_two = input("What time would you like to train ? ")
input_three = input("Which arena would you like to use ? ")
print(input_name, "Schedule. Today you will train",input_one,"at",input_two,"at",input_three,". Please be on time. Thank You")

Quotes representation inside of other quotes

In [ ]:
print("It's time to code")

In [ ]:
print('Albert Einstein once said "Education is what remains after one has forgotten what one has learned in school."')

In [ ]:
print('Alton said "Hello"')

Boolean String Tests

In [ ]:
"Python".isalpha()

In [ ]:
"3rd".isalnum()

In [ ]:
"Harry Potter".istitle()

In [ ]:
"1002".isdigit()

In [ ]:
kg_weight = "87"
print("I weigh",kg_weight,"and that number is all digits = ",kg_weight.isdigit())

In [ ]:
print("COW".islower())

In [ ]:
print("COW".isupper())

In [ ]:
"BOY".startswith("B")

In [ ]:
"alphabetical".isalpha()

In [ ]:
"Are spaces and punctuation alphabetical?".isalpha()

In [ ]:
alpha_test = "Alphabet"
alpha_test.isalpha()

String Format Methods

In [ ]:
print("I LOVE FOOD".lower())

In [ ]:
fav_food = "Low Fat Milk"
print(fav_food.capitalize(),fav_food.lower(),fav_food.title(),fav_food.upper())

In [ ]:
fav_team = input("What is your favorite team ? ")
print("My Team is",fav_team.capitalize())
print("I love",fav_team.upper())
print("I am a fan of",fav_team.lower())
print("I have always been a supporter of",fav_team.swapcase())

In [ ]:
fav_color = input("What is your favorite color ? ").upper()
print(fav_color)

Boolean 'in' keyword

In [ ]:
players = "David, Ashley, Chris, Victor, Luke"
print("Ashley" in players)
print("ashley" in players)
# Most effective search method below
print("Victor".lower() in players.lower())

In [ ]:
# Menu Program
menu = "Meat, Wine, Cheese, Soda"
print("I am Mark and I will be your waiter today. What will you have ? ")
order = input("I will have ")
print("Is it in the menu ? ")
print(order.lower() in menu.lower())

In [3]:
# Menu Program Continued
menu = "Meat, Wine, Cheese, Soda"
print("Our menu contains",menu)
print("Can i add to the menu ? ")
print("Yes ofcourse. What would you like to add ? ")
add_menu = input("I would like to add ")
new_menu = menu + " and " + add_menu
print("We have updated our menu and this is what it contains")
print(new_menu)

Our menu contains Meat, Wine, Cheese, Soda
Can i add to the menu ?
Yes ofcourse. What would you like to add ?
I would like to add Beer
We have updated our menu and this is what it contains
Meat, Wine, Cheese, Soda and Beer

NEW BEGINNING

In [2]:
print('Hello World')

Hello World

In [3]:
print('Hello Programmer!!!')

Hello Programmer!!!

In [4]:
# Good code is commented code

In [5]:
# Testing the code environment with a hello world script
print("Hello World!")

Hello World!

In [6]:
# Using single and double quotes
print('This is a single quote')
print("This is a double quote")

This is a single quote
This is a double quote

In [7]:
# This is an integer
print(2019)

2019

In [8]:
# This is a string containing integers
print('2019')

2019

VARIABLES

In [11]:
# Variable assignment
current_team = 'Manchester United'

In [12]:
print(current_team)

Manchester United

In [13]:
print(current_team)
current_team = 'Arsenal'
print(current_team)

Manchester United
Arsenal

In [14]:
name = 'Mark Carlton'
print(name)

Mark Carlton

In [15]:
# Assign a variable and print the value
student_name = 'Mark Carlton'
print(student_name)

Mark Carlton

In [16]:
# Variable reassignment
student_name = 'Mark Kaharo'
print(student_name)

Mark Kaharo

In [17]:
bucket = 'KFC'
print(bucket)
bucket = 1300
print(bucket)

KFC
1300

TYPE

In [20]:
type('I am Mark')

str

In [22]:
type(5)

int

In [23]:
type(3.14)

float

In [24]:
student_name = 'Mark'
type(student_name)

str

In [25]:
bucket = 16
type(bucket)

int

In [26]:
bucket = "KFC Bucket"
type(bucket)

str

In [27]:
bucket = 'Chicken Inn'
type(bucket)

str

In [28]:
type(type(3))

type

ADDITION AND CONCATENATION

In [29]:
# Adding numbers
print(3 + 5 + 9)

17

In [30]:
#Adding integers and floats
print(3 + 0.5)

3.5

In [32]:
# Concatenation
print('This notebook belongs to' + ' Mark')

This notebook belongs to Mark

In [33]:
# Variable addition
small_number = 5
big_number  = 1000
print (small_number + big_number)

1005

In [34]:
# String variable concatenation
name = 'Mark'
print(name + ' remember to save this notebook frequently')

Mark remember to save this notebook frequently

In [2]:
new_msg = 'My favorite food is' + ' the Chicken Burger'
print(new_msg)

My favorite food is the Chicken Burger

In [3]:
new_sum = 1 + 2 + 3
print(new_sum)

6

In [4]:
new_msg_2 = new_msg + ', especially the one at Big Square'
print(new_msg_2)

My favorite food is the Chicken Burger, especially the one at Big Square

In [8]:
total_cost = '3' + "45"
print(total_cost)

345

In [9]:
new_num = 3.5 + 45
print(new_num)

48.5

In [10]:
print(type(3.3))
print(type(3))
print(3.3 + 3)

<class 'float'>
<class 'int'>
6.3

ASCII

In [14]:
# Flying bird
print('_         _  ')
print(' \       /   ')
print('  \ . . /    ')
print('     v      ')

_         _
 \       /
  \ . . /
     v

INPUT

In [17]:
print('Please enter your name : ')
student_name = input()
print('Your name is : ')
print(student_name)
type(student_name)

Please enter your name :
Mark
Your name is :
Mark

str

In [20]:
print('Enter a name or a number : ')
entry = input()
type(entry)

Enter a name or a number :
5.3333

str

In [21]:
student_name = input('What is your name  : ')
print(student_name)
type(student_name)

What is your name  : Mark
Mark

str

In [22]:
city = input('Name a city : ')
print('You named',city)

Name a city : Tokyo
You named Tokyo

In [23]:
name = input('What is your name : ')
age = input('How old are you : ')
get_mail = input('Do you want mail : ')

What is your name : Mark
How old are you : 23
Do you want mail : no

In [24]:
print('name =',name)
print('age =',age)
print('wants mail =',get_mail)

name = Mark
age = 23
wants mail = no

PRINT FORMATTING

In [1]:
# Plus sign
name = 'Mark'
print('My name is ' + name)

My name is Mark

In [3]:
# Comma
print('My name is',name,'and I am 23 years old')

My name is Mark and I am 23 years old

In [4]:
# 2 numbers and 2 Strings
print('An acre in Malindi costs',70000,'shillings, while an acre in Isiolo costs',13000,'shillings.')

An acre in Malindi costs 70000 shillings, while an acre in Isiolo costs 13000 shillings.

In [5]:
street_name = input('On which street did you grow up in ? ')
street_num = input('What was the number of the street ? ')
print('I grew up in',street_num,street_name)

On which street did you grow up in ? Riverside Drive
What was the number of the street ? 14
I grew up in 14 Riverside Drive

In [6]:
# Variable, Literal String and Number combination
home = input('Where do you live ? ')
age = input('How old are you ? ')
print('You live in',home,'and you are',age,'years old')

Where do you live ? Thika
How old are you ? 23
You live in Thika and you are 23 years old

In [9]:
owner = input('Who is the contact person ? ')
num_people = input('How many people will be in attendance ? ')
training_time = input('When will the training commence ? ')
min_early = 'We urge all our guests to be seated atleast 5 minutes prior to the start of the meeting'

print('We have reserved this hall for',owner,'who has confirmed that',num_people,
      'will be in attendance. The training is set to commence at',training_time)
print('----------------------------------------------------------------------')
print(min_early)

Who is the contact person ? Mark
How many people will be in attendance ? 20
When will the training commence ? 5:00 PM
We have reserved this hall for Mark who has confirmed that 20 will be in attendance. The training is set to commence at 5:00 PM
----------------------------------------------------------------------
We urge all our guests to be seated atleast 5 minutes prior to the start of the meeting

In [8]:
# Single Quotes
print("It's Time to go ")

It's Time to go

In [11]:
# Double Quotes
print('Ginny said "I am not wearing that, It is ghastly"')

Ginny said "I am not wearing that, It is ghastly"

In [12]:
print('"Education is what remains after one has forgotten what one has learned in school" - Albert Einstein')

"Education is what remains after one has forgotten what one has learned in school" - Albert Einstein

BOOLEAN STRING TESTS

In [13]:
"Python".isalpha()

cm height: 176 is all digits = True
False
True

True

In [14]:
print("SAVE".islower())

False

In [15]:
print("SAVE".isupper())

True

In [16]:
"1003".isdigit()

True

In [17]:
"A Cold Stormy Night".istitle()

True

In [18]:
"3rd".isalnum()

True

In [19]:
"Boolean".startswith("B")

True

In [20]:
cm_height = "176"
print("cm height:",cm_height, "is all digits =",cm_height.isdigit())

cm height: 176 is all digits = True

In [25]:
"alphabetical".isalnum()

True

In [26]:
"Are spaces and punctuation Alphabetical?".isalpha()

False

In [28]:
alpha_test = input('What is your name ? ')
alpha_test.isalpha()

What is your name ? MarkCarlton

True

STRING FORMATTING

In [4]:
fav_food = input('What is your favorite food ? ')
print('My favorite food is',fav_food.upper())
print('My favorite food is',fav_food.lower())
print('My favorite food is',fav_food.swapcase())
print('My favorite food is',fav_food.capitalize())
print('My favorite food is',fav_food.title())

What is your favorite food ? Beef Burger
My favorite food is BEEF BURGER
My favorite food is beef burger
My favorite food is bEEF bURGER
My favorite food is Beef burger
My favorite food is Beef Burger

In [5]:
fav_color = 'Forest Green'
print(fav_color.upper(),fav_color.lower(),fav_color.swapcase(),fav_color.capitalize())

FOREST GREEN forest green fOREST gREEN Forest green

In [6]:
fav_color = input('What is your favorite color? ').upper()
print(fav_color)

What is your favorite color? Blue
BLUE

IN KEYWORD

In [10]:
greeting = 'Hello World'
print("'Hello' in greeting = ",'hello' in greeting)
print("'Hello' in greeting = ",'Hello' in greeting)
print("'Hello' in greeting = ",'HELLO'.lower() in greeting.lower())

'Hello' in greeting =  False
'Hello' in greeting =  True
'Hello' in greeting =  True

In [2]:
menu = "salad, pasta, sandwich, pizza, drinks, dessert"
print("'Pizza' in menu = ",'Pizza'.lower() in menu.lower())
print("'Soup' in menu = ",'Soup'.lower() in menu.lower())
print("'Dessert' in menu = ",'Dessert'.lower() in menu.lower())

'Pizza' in menu =  True
'Soup' in menu =  False
'Dessert' in menu =  True

In [17]:
# Item check on menu
menu_ask = input('What do you want ? ').lower()
print(menu_ask,'in menu =',menu_ask.lower() in menu.lower())

What do you want ? soup
soup in menu = False

In [14]:
paint_colors = "red, blue, green, black, orange, pink"
print('Red in paint colors = ','red' in paint_colors)

Red in paint colors =  True

In [4]:
# Add items to menu
add_item = input('What should we add to the menu? ').lower()
new_menu = menu + ', ' + add_item
print(menu)
print(new_menu)

What should we add to the menu? tea, soup, milk
salad, pasta, sandwich, pizza, drinks, dessert
salad, pasta, sandwich, pizza, drinks, dessert, tea, soup, milk

In [9]:
menu_ask = input('What do you want ? ').lower()
print(menu_ask,'in menu =',menu_ask.lower() in new_menu.lower())

What do you want ? fish
fish in menu = False

MODULE 1 PRACTICE - NOTEBOOK 1

In [10]:
# Print Hello
print('Hello!')

Hello!

In [12]:
print("Mark's notebook editing")

Mark's notebook editing

In [13]:
print('Mark')
print('is using python')

Mark
is using python

In [14]:
print('Mark is using python')

Mark is using python

In [15]:
my_name = 'Mark'
print(my_name)

Mark

In [16]:
favorite_song = 'Just like Fire'
shoe_size = '10'
lucky_number = '7'

print(favorite_song)
print(shoe_size)
print(lucky_number)

Just like Fire
10
7

In [17]:
# String addition
print('My favorite song is',favorite_song)
print('My show size is',shoe_size)
print('My lucky number is',lucky_number)

My favorite song is Just like Fire
My show size is 10
My lucky number is 7

In [20]:
favorite_lucky_shoe = 'My favorite song is ' + favorite_song + '. I wear shoes numbered ' + shoe_size + ' and my lucky number is ' + lucky_number
print(favorite_lucky_shoe)

My favorite song is Just like Fire. I wear shoes numbered 10 and my lucky number is 7

In [21]:
# Art
# Diagonal
print('*')
print('  *')
print('    *')
print('      *')
print('        *')

*
  *
    *
      *
        *

In [22]:
# Art
# Rectangle
print('************')
print('*          *')
print('*          *')
print('************')

************
*          *
*          *
************

In [26]:
# Art
# Smiley Face
print("**            **")
print('   *        *   ')
print('    *      *')
print('     ******')

**            **
   *        *
    *      *
     ******

In [27]:

type(1.55 + 25)

float

In [28]:

type(1.55)

float

In [29]:

type(25 + 10)

int

In [30]:

type(25)

int

In [31]:

type("save your notebook" + "Mark")

str

In [32]:

type("25")

str

In [33]:

type("save your notebook")

str

In [34]:
type('Mark')

str

In [35]:
# Student Information
student_name = "Gus"
student_age = 16
student_grade = 3.5
student_id = "ABC-000-000"

In [38]:
type(student_name)

str

In [37]:
type(student_age)

int

In [39]:
type(student_grade)

float

In [40]:
type(student_id)

str

In [41]:
type(student_age + student_grade)

float

In [42]:
student_id = 32693899
type(student_id)

int

In [43]:
# Number Addition
x = 1
y = 20
z = 300

xyz_sum = x + y + z
print(xyz_sum)

321

In [44]:
# Troubleshooting errors
# Code with error will be commented out

# print("Hello World!"") 
print("Hello World!")

# print(strings have quotes and variables have names)
print('strings have quotes and variables have names')

# print( "I have $" + 5)
print( "I have $" + '5')

# print('always save the notebook")
print('always save the notebook')

Hello World!
strings have quotes and variables have names
I have $5
always save the notebook

MODULE 1 PRACTICE - NOTEBOOK 2

In [2]:
remind_me = input('What should i remind you to do today ? ')
print(remind_me)
print('remember to ' + remind_me)

What should i remind you to do today ? take a walk
take a walk
remember to take a walk

In [1]:
# Acquiring meeting details and printing the out
meeting_subject = input('what is the meeting subject? ')
meeting_time = input('what is the meeting time? ')
print('***************************')
print('Meeting Subject:',meeting_subject.title())
print('Meeting Time:',meeting_time)

what is the meeting subject? sex education
what is the meeting time? 9:00 AM
***************************
Meeting Subject: Sex Education
Meeting Time: 9:00 AM

In [3]:
# Print formatting
print('Wednesday is','in the middle of the week')
print('Remember to',remind_me)
print(remind_me,meeting_subject,meeting_time)

Wednesday is in the middle of the week
Remember to take a walk
take a walk sex education 9:00 AM

In [4]:
# Display an Apostrophe
print("This is Mark's notebook")

This is Mark's notebook

In [5]:
# Display double quotes
print('I said "That is where you go wrong"')

I said "That is where you go wrong"

BOOLEAN STRING TESTS

In [3]:
vehicle = input('What is your favorite vehicle? ')
print('Vehicle is alphabetical =',vehicle.isalpha())
print('Vehicle is alphanumeric =',vehicle.isalnum())
print('Vehicle is Capitalized =',vehicle.istitle())
print('Vehicle is lower caps =',vehicle.islower())

What is your favorite vehicle? Nissan Patrol
Vehicle is alphabetical = False
Vehicle is alphanumeric = False
Vehicle is Capitalized = True
Vehicle is lower caps = False

In [4]:
capitalize_this = "the TIME is Noon."
capital_this = capitalize_this.title()
print(capital_this)

The Time Is Noon.

In [5]:
swap_this = "wHO writes LIKE tHIS?"
swap_this = swap_this.swapcase()
print(swap_this)

Who WRITES like This?

In [6]:
whisper_this = "Can you hear me?"
print(whisper_this.lower())

can you hear me?

In [7]:
yell_this = "Can you hear me Now!?"
print(yell_this.upper())

CAN YOU HEAR ME NOW!?

In [8]:
format_input = input('enter a string to reformat: ')
print('****************************')
print(format_input.upper())
print(format_input.lower())
print(format_input.swapcase())
print(format_input.capitalize())

enter a string to reformat: Manchester United
****************************
MANCHESTER UNITED
manchester united
mANCHESTER uNITED
Manchester united

In [9]:
color = input('What is your favorite color? ')
print(color.lower())

What is your favorite color? BLUE
blue

In [10]:
remind_me = input('Set a reminder').lower()
print(remind_me)

Set a remindergo to the GYM
go to the gym

In [13]:
animals_input = input('Can you name 5 animals? ')
if 'cat' in animals_input:
    print('cat' in animals_input)
else:
    print('cat' in animals_input)

Can you name 5 animals? cow, hen, dog, bird, elephant
False

In [16]:
# Guess what i'm reading program

can_read = input('What are you reading? ').lower()
can_read_things = input('Name 3 items that can be read: ').lower()

print('Item found =',can_read in can_read_things)

What are you reading? website
Name 3 items that can be read: website, novel, setbook
Item found = True

In [23]:
# Allergy Check Program

input_test = input('Enter types of food you have eaten in the last 24 hours: ').lower()
print('dairy' in input_test)

Enter types of food you have eaten in the last 24 hours: coffee, tea, beans, maize
False

In [25]:
print('It is','tea' in input_test,'that',input_test,'contains "tea"')
print('It is','nuts' in input_test,'that',input_test,'contains "nuts"')
print('It is','seafood' in input_test,'that',input_test,'contains "seafood"')
print('It is','beans' in input_test,'that',input_test,'contains "beans"')

It is True that coffee, tea, beans, maize contains "tea"
It is False that coffee, tea, beans, maize contains "nuts"
It is False that coffee, tea, beans, maize contains "seafood"
It is True that coffee, tea, beans, maize contains "beans"

In [26]:
new_input = input('Enter types of snacks you have eaten in the last 24 hours: ').lower()
input_test = input_test + ', ' + new_input
print('It is','seafood' in input_test,'that',input_test,'contains "seafood"')

Enter types of snacks you have eaten in the last 24 hours: seafood, chocolate
It is True that coffee, tea, beans, maize, seafood, chocolate contains "seafood"